<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>

<p>
  <strong>Card Number:</strong>
  <%= 'xxxx-xxxx-xxxx-' + @payment.cardNumber %>
</p>

<%= link_to 'Back', payment_index_path %>