<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account_kind.name %>
</p>

<%= link_to 'Edit', edit_account_kind_path(@account_kind) %> |
<%= link_to 'Back', account_kinds_path %>
